<mat-card class="example-card">
  <mat-card-header>
   <mat-card-title>Lists</mat-card-title>
   <button mat-raised-button color="primary" [routerLink]="['/list/new/', categoryId]">
    <i class="material-icons md-48">add</i>
  </button>
 </mat-card-header>
 <mat-card-content>
   <mat-nav-list>
     <div class="item-list" *ngFor="let list of lists">
       <div class="name-itens-list">
         {{ list.id }} - {{ list.name }}
       </div>
       <div class="action-itens-list">
         <button mat-icon-button color="warn" (click)="delete(list)">
           <i class="material-icons md-48">delete</i>
         </button>
          <button mat-icon-button color="primary" (click)="showListInCategory(list.id)">
            <i class="material-icons md-48">settings</i>
          </button>
          <button mat-icon-button color="primary" (click)="showItemsInList(list.id)">
            <i class="material-icons md-48">toc</i>
          </button>
       </div>
     </div>
   </mat-nav-list>
 </mat-card-content>
</mat-card>