<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Edit Item</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="item.name" name="input-name" value="{{ item.name }}">
      </mat-form-field>
    </form>
    
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="warn" (click)="delete()">Excluir</button>
  </mat-card-actions>
</mat-card>